<footer class="#546e7a blue-grey darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">MisionTic 2022</h5>
          <p class="grey-text text-lighten-4">Grupo 10</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Miembros</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">GABRIELl CASTELLANOS WILCHES</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">EDINSON ANCIZAR CASTILLO</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">THALIA ROCIO SANABRIA MANTILLA </a></li>
            <li><a class="grey-text text-lighten-3" href="#!">JONATHAN STEVEN MORENO ARCE</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">SILVIA FERNANDA MOSQUERA ROJAS</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div  class="footer-copyright" class="#546e7a blue-grey darken-2">
      <div class="container" class="col offset-l2 s12">
       <a class="grey-text text-lighten-4 higth"> © 2022 Copyrigh</a>
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
</footer>