<div class="container">
    <h3 class="center-align">Registrar Ruta</h3>
    <form [formGroup]="fgValidacionRuta" class="col s12" (ngSubmit)="storeRuta()">
    <div class="row">
      <div class="input-field col s6">
        <select class="browser-default" formControlName="origen" >
          <option value="" disabled selected>Seleccione el aeropuerto origen</option>
          <option *ngFor="let aeropuerto of listadoAeropuertos" value="{{aeropuerto.nombre}}">{{aeropuerto.nombre}}</option>
        </select>
      </div>
      <div class="input-field col s6">
        <select class="browser-default" formControlName="destino" >
          <option value="" disabled selected>Seleccione el aeropuerto destino</option>
          <option *ngFor="let aeropuerto of listadoAeropuertos" value="{{aeropuerto.nombre}}">{{aeropuerto.nombre}}</option>
        </select>
      </div>
    </div>
      <div class="row">
        <div class="input-field col s12">
          <input formControlName="tiempo_Estimado" type="text" class="validate">
          <label for="tiempo_Estimado">Tiempo Estimado</label>
        </div>
      </div>
      <div class="row center-align">
          <button [disabled]="!fgValidacionRuta.valid" class="btn waves-effect waves-light" type="submit" name="action">Crear
          <i class="material-icons right">done</i>
        </button>
      </div>
    </form>
</div>